<ion-view title="List-Cards-Forms" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="listCardsForms-list1" class=" ">
            <ion-item class="item-avatar  " id="listCardsForms-list-item4">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="listCardsForms-list-item5">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="listCardsForms-list-item6">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>