<ion-view title="Login" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form1" class="list ">
            <ion-list id="login-list1" class=" ">
                <label class="item item-input " id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Username" ng-model="username">
                </label>
                <label class="item item-input " id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" ng-model="password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
           <a ui-sref="welcome" id="login-button1" class=" button button-stable  button-block ">Log in</a>
        </form>
    </ion-content>
</ion-view>
