<ion-view title="Page" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="list" id="page-button1" style="border-radius:10px 10px 10px 10px;" class=" button button-energized  button-block ">List</a>
        <a ui-sref="card" id="page-button2" style="border-radius:10px 10px 10px 10px;" class=" button button-energized  button-block ">Card</a>
        <button id="page-button3" style="border-radius:10px 10px 10px 10px;" class=" button button-energized  button-block ">Tap me!</button>
        <button id="page-button4" style="border-radius:10px 10px 10px 10px;" class=" button button-energized  button-block ">Tap me!</button>
        <button id="page-button5" style="border-radius:10px 10px 10px 10px;" class=" button button-energized  button-block ">Tap me!</button>
        <button id="page-button6" style="border-radius:10px 10px 10px 10px;" class=" button button-energized  button-block ">Tap me!</button>
        <button id="page-button7" style="border-radius:10px 10px 10px 10px;" class=" button button-energized  button-block ">Tap me!</button>
    </ion-content>
</ion-view>