<ion-view title="Forms-Range" hide-back-button="true" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="formsRange-form2" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="formsRange-toggle2" class=" ">Toggle</ion-toggle>
            <ion-radio id="formsRange-radio2" class=" ">Radio</ion-radio>
            <label class="item item-input " id="formsRange-input1">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="range range-positive " id="formsRange-range1">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
        </form>
    </ion-content>
</ion-view>