<ion-view title="List-Cards-Forms" hide-back-button="true" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="listCardsForms-list1" class=" ">
            <ion-item id="listCardsForms-list-item1" class="  ">Item 1</ion-item>
            <ion-item id="listCardsForms-list-item2" class="  ">Item 2</ion-item>
            <ion-item id="listCardsForms-list-item3" class="  ">Item 3</ion-item>
        </ion-list>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
    </ion-content>
</ion-view>