<ion-view title="Page" hide-back-button="true" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="listCardsForms" id="page-button1" class=" button button-positive  button-block ">List-Cards-Forms</a>
        <a ui-sref="toggleCheckboxRadioButton" id="page-button2" class=" button button-positive  button-block ">Toggle-CheckBox-RButton</a>
        <a ui-sref="formsRange" id="page-button3" class=" button button-positive  button-block ">Forms-Range</a>
		<a ui-sref="ListCountries" id="page-button5" class=" button button-positive  button-block ">List Countries</a>
    </ion-content>
</ion-view>