<ion-view title="Toggle-Checkbox-RadioButton" hide-back-button="true" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="toggleCheckboxRadioButton-form1" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="toggleCheckboxRadioButton-toggle1" class=" ">Toggle</ion-toggle>
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-radio id="toggleCheckboxRadioButton-radio1" class=" ">Radio</ion-radio>
        </form>
    </ion-content>
</ion-view>